$main: #f1dac4;
$side-1: #a69cac;
$side-2: #474973;
$side-3: #151a32;
$bg: #0d0c1d;

$border: $main solid 2px;
$bor_width: 2px;

@mixin style($type: "") {
  body:global(.#{$type}) {
    @content;
  }
}
@mixin flip {
  @at-root body:global(.flip) & {
    transform: scaleX(-1);
  }
}
